########################## DIST TEMPLATE #########################
## Replace the values with your own and rename the file to .env ##
##################################################################

# Discord configuration

# https://discord.com/developers/applications/YOUR_CLIENTID/bot
TOKEN=your_token
# https://discord.com/developers/applications/YOUR_CLIENTID/oauth2
CLIENTID=0123456789012345678
CLIENTSECRET=abcdefghijklmnopqrstuvwxyz123456
DEVUID=012345678901234567
JWT_SECRET_KEY=some_secretkey

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# Options: postgresql, mongodb, mysql, sqlite
DATABASE="postgresql"

# I don't recommend changing this unless you know what you're doing.
# To get rid of the DB entirely, remove this line completely.
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_pg_pswd
POSTGRES_DB=your_db_name
PGPORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:${PGPORT}/${POSTGRES_DB}?schema=public"

# Backend configuration
API_PORT=8080
WS_PORT=3001
