# lavalink env var
# https://lavalink.dev/configuration/#example-applicationyml
# NOTE: You can delete unused env var and use the default value in application.yml,
#			env var in lavalink.env will overwrite the value in application.yml.
#			Check the link above if you need more info.
SERVER_PORT=2333
SERVER_ADDRESS=0.0.0.0
SERVER_HTTP2_ENABLED=false

LAVALINK_PLUGINS_0_DEPENDENCY="dev.lavalink.youtube:youtube-plugin:1.7.2"
LAVALINK_PLUGINS_0_REPOSITORY="https://maven.lavalink.dev/releases"
PLUGINS_YOUTUBE_ENABLED=true
PLUGINS_YOUTUBE_OAUTH_ENABLED=true
PLUGINS_YOUTUBE_OAUTH_SKIP_INITIALIZATION=true
PLUGINS_YOUTUBE_OAUTH_REFRESH_TOKEN="your_youtube_oauth_token"

LAVALINK_PLUGINS_1_DEPENDENCY="com.github.TopiSenpai.LavaSrc:lavasrc-plugin:3.2.10"
LAVALINK_PLUGINS_1_REPOSITORY="https://maven.topi.wtf/releases"
PLUGINS_LAVASRC_PROVIDERS_0='ytsearch:"%ISRC%"'
PLUGINS_LAVASRC_PROVIDERS_1="ytsearch:%QUERY%"
PLUGINS_LAVASRC_SOURCES_SPOTIFY=true
PLUGINS_LAVASRC_SOURCES_APPLEMUSIC=false
PLUGINS_LAVASRC_SOURCES_DEEZER=false
PLUGINS_LAVASRC_SOURCES_YANDEXMUSIC=false
# https://developer.spotify.com/dashboard
PLUGINS_LAVASRC_SPOTIFY_CLIENT_ID=your_client_id
PLUGINS_LAVASRC_SPOTIFY_CLIENT_SECRET=your_client_secret
PLUGINS_LAVASRC_SPOTIFY_COUNTRY_CODE="US"
PLUGINS_LAVASRC_SPOTIFY_PLAYLIST_LOAD_LIMIT=6
PLUGINS_LAVASRC_SPOTIFY_ALBUM_LOAD_LIMIT=6

LAVALINK_SERVER_PASSWORD=
LAVALINK_SERVER_SOURCES_YOUTUBE=false # deprecated in lavalink v3.7.12
LAVALINK_SERVER_SOURCES_BANDCAMP=
LAVALINK_SERVER_SOURCES_SOUNDCLOUD=
LAVALINK_SERVER_SOURCES_TWITCH=
LAVALINK_SERVER_SOURCES_VIMEO=
LAVALINK_SERVER_SOURCES_HTTP=
LAVALINK_SERVER_SOURCES_NICO=
LAVALINK_SERVER_SOURCES_LOCAL=

LAVALINK_SERVER_FILTERS_VOLUME=
LAVALINK_SERVER_FILTERS_EQUALIZER=
LAVALINK_SERVER_FILTERS_KARAOKE=
LAVALINK_SERVER_FILTERS_TIMESCALE=
LAVALINK_SERVER_FILTERS_TREMOLO=
LAVALINK_SERVER_FILTERS_VIBRATO=
LAVALINK_SERVER_FILTERS_DISTORTION=
LAVALINK_SERVER_FILTERS_ROTATION=
LAVALINK_SERVER_FILTERS_CHANNEL_MIX=
LAVALINK_SERVER_FILTERS_LOW_PASS=

LAVALINK_SERVER_BUFFER_DURATION_MS=
LAVALINK_SERVER_FRAME_BUFFER_DURATION_MS=
LAVALINK_SERVER_OPUS_ENCODING_QUALITY=
LAVALINK_SERVER_RESAMPLING_QUALITY=
LAVALINK_SERVER_TRACK_STUCK_THRESHOLD_MS=
LAVALINK_SERVER_USE_SEEK_GHOSTING=

# NOTE: You can comment below two settings once you got PLUGINS_YOUTUBE_OAUTH_REFRESH_TOKEN
LAVALINK_SERVER_YOUTUBE_CONFIG_EMAIL=
LAVALINK_SERVER_YOUTUBE_CONFIG_PASSWORD=

# vim: set ft=sh :
